
<div class="y-banner">
    <div class="content">
        <!-- <h3>营销自动化平台</h3>
        <h4>Markting Automation</h4>
        <div class="desc">专注于有温度的营销</div>
        <p><span>全渠道获客</span><span class="banner_line"></span><span>增加销售转化</span><span class="banner_line"></span><span>提升ROI</span></p>
        <div><a href="/post/about/form" class="zuce">预约演示</a><a href="/post/about/try" class="zuce">免费试用</a></div> -->
        <div class="top"></div>
        <!-- <div class="text">
            <div class="name">易回眸</div>
            <div class="desc">专注于有温度的营销</div>
            <div class="type">
                <span>老客户营销</span><span></span>
                <span>提升转化率</span><span></span>
                <span>提升ROI</span>
            </div>
        </div>
        <div class="model">
            <div class="block clearfix">
                <div class="icon auto_icon"></div>
                <div class="tip">
                    <div>营销自动化</div>
                    <div>Marketing Automation</div>
                </div>
            </div>
            <div class="block clearfix">
                <div class="icon email_icon"></div>
                <div class="tip">
                    <div>邮件营销</div>
                    <div>Email Marketing</div>
                </div>
            </div>
            <div class="block clearfix">
                <div class="icon note_icon"></div>
                <div class="tip">
                    <div>短信营销</div>
                    <div>SMS Marketing</div>
                </div>
            </div>
            <div class="detail">
                <a href="/post/automation">
                    <h5 class="title">营销自动化</h5>
                    <h5 class="title-sub">Marketing Automation</h5>
                    <div class="application">适用于</div>
                    <div class="desc">
                        <div>
                            <p>需要自动化营销整体解决方案的企业</p>
                            <p>需要提升老客户回购率的企业</p>
                            <p>需要降低营销成本的企业</p>
                            <p>需要降低人力成本的企业</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="detail">
                <a href="/post/email">
                    <h5 class="title">邮件营销</h5>
                    <h5 class="title-sub">Email Marketing</h5>
                    <div class="application">适用于</div>
                    <div class="desc">
                        <div>
                            <p>需要会员邮件营销智能平台的企业</p>
                            <p>需要会员邮件个性化营销的企业</p>
                            <p>需要集成邮件发送通道的企业</p>
                            <p>需要触发事务型邮件的企业</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="detail">
                <a href="/post/note">
                    <h5 class="title">短信营销</h5>
                    <h5 class="title-sub">SMS Marketing</h5>
                    <div class="application">适用于</div>
                    <div class="desc">
                        <div>
                            <p>需要会员短信营销智能平台的企业</p>
                            <p>需要会员短信落地中国大陆的国际企业</p>
                            <p>需要发送验证码短信的企业</p>
                            <p>需要发送海外短信的企业</p>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->

        <div class="commingSoon">
            <div class="comming-soon content-center">
                <div class="img">
                    <!-- Coming Soon ... -->
        
                    <img src="/images/coming.png"/>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>

</div>
   
<script type="text/javascript" src=" /js/jquery.min.js" ></script>
<script type="text/javascript" src=" /js/bootstrap.min.js" ></script>
<script src="/js/jquery.scrollify.js"></script>
<script type="text/javascript" src=" /js/y-index.js" ></script>